src/npm-debug.log
src/yarn-error.log
npm-debug.log
yarn-error.log

/.vagrant
.phpunit.result.cache
.idea

src/composer.phar
src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.env
src/.env.backup
src/.env.production
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/src/auth.json
src/.fleet
src/.idea
src/.vscode
